main {
  width: 100%;
  height: 100%;
  @include flex-column();
  @include center-xy();
}

header {
  width: 100%;
  @include fix-location(top);
  @include flex-row();
  // @include center-xy();
  justify-content: center;
}

.turkey-logo {
  @include square-logo(8rem);
  @include fix-location(left);
}

nav {
  width: 20%;
  @include flex-row();
  justify-content: space-around;
}

.navbar__navlink {
  color: rgba(244, 143, 152, 0.6);
}

.active {
  text-decoration: underline;
  color: red;
}

.user-mgmt-container {
  @include fix-location(right);
  @include flex-column();
}
