main {
  width: 100%;
  height: 100%;
  @include flex-column();
  @include center-xy();
  font-family: $title-font;
}

header {
  width: 100%;
  height: 7rem;
  @include fix-location(top);
  @include flex-row();
  justify-content: center;
  align-items: center;
}

.turkey-logo__container {
  @include flex-row();
  @include center-xy();
  // @include square-logo(5rem);
  @include fix-location(left);
  margin-left: 1rem;
}

.turkey-logo {
  filter: invert(1) opacity(0.4) $main-drop-shadow;
  @include square-logo(5rem);
  @include flex-column();
  @include center-xy();
  background-image: url('../assets/turkey1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    cursor: pointer;
    transition: $transition-button;
    transform: scale(1.025);
  }
  & p {
    font-size: .7rem;
    color: white;
    padding: 1rem 1.3rem 0 0;
  }
}

.about {
  opacity: 0;
  width: 12rem;
  @include flex-row();
  margin-left: 1rem;
  padding: 1rem;
  background: #ECEAEC;
  font-size: .75rem;
  border-radius: 1rem;
}

nav {
  width: 20%;
  @include flex-row();
  justify-content: space-around;
}

.navbar__navlink {
  padding: 1rem;
  color: rgba(244, 143, 152, 0.6);
}

.active {
  color: white;
  background-color: blue;
}

.user-mgmt-container {
  height: 10rem;
  display: none;
  position: absolute;
  top: 5rem;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  transition: $transition-main;
}

.menu {
  @include flex-column();
  @include fix-location(right);
  margin-right: 2rem;
  padding: 1rem;
  &:hover .user-mgmt-container {
    display: flex;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include flex-row();
  @include center-xy();
}

.page-title,
.page-title-shadow {
  font-family: $title-font;
  @include responsive('font-size', 7rem, (
    800px: 5rem,
    375px: 4.5rem,
  ))
}

.page-title-shadow {
  position: absolute;
  z-index: -1;
  color: transparent;
}
