main {
  width: 100%;
  height: 100%;
  @include flex-column();
  @include center-xy();
  font-family: $title-font;
}

header {
  width: 100%;
  height: 7rem;
  @include fix-location(top);
  @include flex-row();
  // @include center-xy();
  justify-content: center;
  align-items: center;
}

.turkey-logo {
  @include square-logo(5rem);
  @include fix-location(left);
  margin-left: 1rem;
}

nav {
  width: 20%;
  @include flex-row();
  justify-content: space-around;
}

.navbar__navlink {
  padding: 1rem;
  color: rgba(244, 143, 152, 0.6);
}

.active {
  color: white;
  background-color: blue;
}

.user-mgmt-container {
  display: none;
  // @include fix-location(right);
  // @include flex-column();
}

.menu-icon:hover .user-mgmt-container {
  @include flex-column();
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include flex-row();
  @include center-xy();
}

.page-title,
.page-title-shadow {
  font-family: $title-font;
  font-size: 7rem;
}

.page-title-shadow {
  position: absolute;
  z-index: -1;
  color: transparent;
}
