@mixin responsive($properties, $default-value, $responsive-values){

  // No named breakpoints by default
  $named-breakpoints: () !default;

  // Apply default property values
  @each $property in $properties{
    #{$property}: #{$default-value};
  }

  @each $breakpoint, $value in $responsive-values{

    // Get named breakpoint values
    @if type-of($breakpoint) == string{
      @if(map-has-key($named-breakpoints, $breakpoint)){
        $breakpoint: map-get($named-breakpoints, $breakpoint);
      }
      @else{
        @warn "Couldn't find named breakpoint: " + $breakpoint;
      }
    }

    // Use Breakpoint if it exists
    @if mixin-exists("breakpoint"){
      // Apply at breakpoint
      @include breakpoint($breakpoint) {
        @each $property in $properties{
          #{$property}: #{$value};
        }
      }
    }
    // Fallback to max-width media queries
    @else{
      @media screen and (max-width: $breakpoint) {
        @each $property in $properties{
          #{$property}: #{$value};
        }
      }
    }

  }

}

// Use $named-breakpoints with block-style media queries
@mixin named-breakpoint($breakpoint){

  @if type-of($breakpoint) == string{
    @if(map-has-key($named-breakpoints, $breakpoint)){
      $breakpoint: map-get($named-breakpoints, $breakpoint);
      @if mixin-exists("breakpoint"){
        @include breakpoint($breakpoint){
          @content;
        }
      }
      @else{
        @media screen and (max-width: $breakpoint) {
          @content;
        }
      }
    }
    @else{
      @warn "Couldn't find named breakpoint: " + $breakpoint;
    }
  }

}

// Create a scope for a local set of named breakpoints
@mixin with-named-breakpoints($context-breakpoints){
  $old: $named-breakpoints;
  $named-breakpoints:  map-merge($named-breakpoints, $context-breakpoints) !global;
  @content;
  $named-breakpoints: $old !global;
}
