.saved-facts-container {
  @include responsive('width', '60%', (
    1200px: 90%,
    375px: 90%,
  ));
  @include responsive('height', 50vh, (
    1200px: 70vh,
    375px: 70vh,
  ));
  @include flex-column();
  @include center-xy();
  padding: 0 1rem;
  box-shadow: $main-box-shadow;
}

.saved-facts__header {
  font-size: 1.5rem;
}

.saved-fact-item {
  height: 15rem;
  display: flex;
  @include responsive('flex-direction', 'column', (
    1200px: 'column',
    375px: 'column',
  ));
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.saved-fact-item__text {
  @include responsive('font-size', 1.75rem, (
    800px: 1.5rem,
    375px: 1.5rem,
  ));
}

.prompt-container {
  @include flex-column();
  @include center-xy();
}

.prompt__text {
  font-size: 3rem;
  margin: 1rem;
}
