@import '_reset';
@import '_variables';
@import '_responsive';
@import '_mixins';
@import '_buttons';
@import '_toggle';
@import '_App';
@import '_Generate';
@import '_Saved';

html {
  // font-size: 1vw;
  @include responsive('font-size', 1vw,(
    375px: 10px,
    800px: 11px
  ));
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $body-font;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
